[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.18.5"
pandas = "==1.2"
tensorflow = "==2.2"
datetime = "*"

[dev-packages]

[requires]
python_version = "3.8"
